$steam-blue: rgb(0, 175, 239);

footer {
    position: sticky;
    bottom: -5em;
    height: 5em;
    width: 100%;
    z-index: 3;
    background-color: $steam-blue;
    background: linear-gradient(to bottom, rgba(0, 175, 239, 0.1) 10%, rgba(0, 175, 239, 0.8)),
        url('./icons8-pacman-50.png');
    text-align: left;
    font-size: .85em;
    line-height: 5em;
    padding-left: 2em;
}

@media screen and (max-width: 1279px) {
    
	footer {
		position: relative;
	}
}