/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Nova+Square|Squada+One|Inconsolata:400,700|Open+Sans:400,700,800&display=swap');
$black: rgb(43, 42, 42);
$white: rgb(233, 232, 232);
$steam-blue: rgb(0, 175, 239);
$good-green: #6c3;
$meh-yellow: #fc3;
$bad-red: #f00;

body {
	position: relative;
	width: 100vw;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	background: $black;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75), 1px 2px 1px rgba(0, 0, 0, 0.5);
	font-family: 'Open Sans', sans-serif;
}

#root {
	height: 100%;
}

.App {
	height: 100vh;
	color: $white;

	input {
		-webkit-box-shadow: inset 0 1px 3px #ddd, 0px 0px 1px rgba(0, 0, 0, 0.75), 1px 2px 1px rgba(0, 0, 0, 0.5);
		        box-shadow: inset 0 1px 3px #ddd, 0px 0px 1px rgba(0, 0, 0, 0.75), 1px 2px 1px rgba(0, 0, 0, 0.5);
		max-width: 100%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	a {
		color: $white;
	}
}