$black: rgb(43, 42, 42);
$white: rgb(233, 232, 232);
$steam-blue: rgb(0, 175, 239);
$good-green: #6c3;
$meh-yellow: #fc3;
$bad-red: #f00;

body {
  width: 100vw;
  background: $black;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.75),1px 2px 1px rgba(0,0,0,0.5);
}

input {
  box-shadow: inset 0 1px 3px #ddd, 0px 0px 1px rgba(0,0,0,0.75),1px 2px 1px rgba(0,0,0,0.5);
  max-width: 100%;
  box-sizing: border-box;
}

.submit {
  color: $black;
  font-size: .85em;
}

.App {
	text-align: center;
  color: $white;
  #api-tag {
    position: absolute;
    font-size: .75em;
    margin: 0;
    top: .25em;
    right: .25em;
  }
  
  #head-ellipse {
    position: absolute;
    top: -10em;
    left: 0;
    width: 100%;
    height: 20em;
    background-color: $steam-blue;
    background: linear-gradient(to bottom, rgba(0, 175, 239,0.2) 10%, rgba(0, 175, 239,1)), url('./images/icons8-pacman-50.png');
    //border-bottom-left-radius: 50%;
    //border-bottom-right-radius: 50%;
    z-index: -5;
  }

  header {
    height: 8em;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2em;
    color: $black;
    #gameboy-head {
      height: 10em;
      margin: 0 auto;
      margin-top: 1em;
      img {
        max-width: 80%;
        max-height: 80%;
      }
    }
    
  }
  .flex-wrapper-lg {
    display: flex;
    flex-direction: row;
  }
  .flex-search-lg {
    flex-direction: column;
    text-align: left;
    width: 30vw;
  }
  .flex-results-lg {
    width: 60vw;
  }

  #wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

	#search-container {
		display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: stretch;
    width: 25vw;
    //border-bottom: 1px solid $white;
    margin: 1em 3em;
    text-align: left;

		form {
      width: 35%;
      margin-bottom: 1em;
      font-size: .9em;

			legend {
				color: $white !important;
				width: 80%;
				//margin: .75em auto;
				font-weight: bold;
        padding-bottom: .5em;
			}

			.search {
				margin: .75em 0 !important;
        color: $black;
      }
      #plat-drop {
        color: $black;
      }
		}

		#or {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			//width: 5em;
			height: 100%;
      color: $black;
      text-align: center;

			h5 {
				margin: 1em 0;
				height: 2em;
				width: 2em;
				line-height: 2em;
				background: $steam-blue;
        background: linear-gradient(to bottom, rgba(0, 175, 239,0.4) 10%, rgba(0, 175, 239,1)), url('./images/icons8-pacman-50.png');
        background-position: center;
        background-size: 50%;
				border-radius: 1em;
			}
		}
  }
  


	#game-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left !important;
    width: 100%;
    margin: 1em 3em;
    > div {
      width: 75%;
      margin: 0 auto;
    }
    #load-overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 1;
      background-color: rgba(0,0,0, 0.5);
      #load-ani {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    #no-result {
      margin: 0 auto;
    }
    .title-result {
      display: flex;
      flex-direction: row;
      height: auto;
      align-items: center;
      margin-bottom: 1em;
      overflow: hidden;
      .title-result-btn {
        height: 3.5em;
        width: 0;
        transition: 0.2s linear;
        .title-submit {
          font-size: .15em;
          height: 100%;
          padding: 1em;
          border-radius: 0;
          background-color: $steam-blue;
          transition: 0.2s linear;
        }
      }
      
      .title-info {
        padding: .25em 1em;
        span {
          line-height: 1.5em;
        }
      }
    }
    .title-result:nth-child(odd) {
      background-color: rgb(80, 78, 78);
    }
    .title-result:hover {
      .title-result-btn {
        width: 3em;
        .title-submit {
          font-size: .5em;
        }
      }
    }

    #game-cover-title {
      text-align: right;
      border-right: 1px solid $white;
      padding-right: 1em;
      font-size: 1.5em;
      width: 25%;
      margin: 1em;
      #game-name {
        margin: 0;
      }
      img {
        display: inline;
        vertical-align: top;
        object-fit: contain;
        margin: 0 .5em;
      }
    }
    
    #title-result-container {
      //margin: 0 2em;
      //padding-left: 3em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      p {
        margin: .25em 0;
      }
      #game-score {
        display: inline-block;
        width: 1.75em;
        height: 1.75em;
        margin-left: .5em;
        line-height: 1.75em;
        text-align: center;
        font-size: 1.1em;
        letter-spacing: .1em;
        font-weight: bold;
        border-radius: 6px;
      }  
      .green-bg {
        background-color: $good-green;
      }
      .yellow-bg {
        background-color: $meh-yellow;
      }
      .red-bg {
        background-color: $bad-red;
      } 
      a {
        color: $white;
      }  
      #game-info {
        margin-left: 2em;
        width: 60%;  
        text-align: left;  
        span,a {
          display: inline-block;
          margin-bottom: .75em;
        }
      }
    }
	}
}

@media only screen and (max-width: 1280px) {
  header {
    #gameboy-head {
      height: 5em;
      margin: 1em auto;
  
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    p {
      font-size: .75em;
    }
  }    
	.container {
		flex-direction: column !important;
    height: auto !important;
    padding-top: 1em !important;
		.column {
			width: 100% !important;
		}
  }
  #game-results {
    padding-top: 0 !important;
    
    #title-result-container {
      border-left: none !important;
      padding-left: 0 !important;

      #game-cover-title {
        width: auto;
        border-right: none !important;
        padding-right: 0 !important;
        margin: 1em auto !important;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        font-size: 1em;
        text-align: left !important;
        #game-title {
          margin: .5em;
        }
      }
      #game-info {
        width: 100% !important;
        margin: 0 !important;
        padding-top: 1em !important;
        border-top: 1px solid $white !important;
      }
    }
  }
}
@media only screen and (max-width: 739px) {
  #head-ellipse {
    height: 19em !important;
  }
  header {
    height: 6em !important;
    #gameboy-head {
      margin-top: .5em !important;
    }
  }
  #wrapper {
    flex-wrap: wrap;
    #search-container {
      flex-direction: row;
      justify-content: space-around;
      width: 100vw;
      padding: 1em 0;
      border-bottom: 1px solid $white;
      margin: 1em;
      text-align: center;
      form {
        margin: 0;
        width: 40vw;
        

        fieldset {
          width: 40vw;
          legend {
            margin: 0 auto;
          }
          .search {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}